{{ define "head" }}
<head>

  <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{- partial "favicon.html" . -}}
  <title>{{ .Site.Params.miVariable }}</title>

  {{- partial "seo_tags.html" . -}}
  <meta name="referrer" content="no-referrer-when-downgrade" />

  {{ $style := resources.Get "style.css" | minify }}
  <link href="{{ $style.RelPermalink }}" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/estilos.css"> <!-- que pasa aqui!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->



  <!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory -->
  {{- partial "custom_head.html" . -}}

</head>
{{ end }}
{{ define "main" }}
{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
      {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>
{{ end }}
<content>
  {{ .Content }}
</content>
<p>
  {{ range (.GetTerms "tags") }}
    <a class="blog-tags" href="{{ .Permalink }}">#{{ .LinkTitle }}</a>&nbsp;&nbsp;
  {{ end }}
</p>
{{ end }}
